body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin-top: 0;
}

h2 {
    color: #4CAF50;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li h3 {
    margin-top: 0;
}

li p {
    margin: 0.5rem 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
